.pickCar__header {
    text-align: center;
    margin-top: 100px;
    
}

.pickCar__header h2 {
    font-weight: 700;
    font-size: 25px;
    padding: 15px;
}

.pickCar__header h1 {
    font-weight: 800;
    font-size: 45px;
}

.pickCar__content {
    display: flex;
    align-items: center;
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.pickCar__cell {
    padding: 20px 40px;
    text-align: center;
}

.pickCar__cell h3 {
    font-weight: 800;
    font-size: 25px;
    padding: 10px;
}

.pickCar__cell p {
    font-weight: 500;
    font-size: 18px;
    color: dimgray;
}

.pickCar__header p {
    font-weight: 500;
    font-size: 18px;
    color: dimgray;
    padding: 20px 25px;
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
}

.pickCar__btns {
    display: flex;
    gap: 10px;
    padding: 10px 25px;
}

.pickCar__btns button {
    border: none;
    background-color: #e9e9e9;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding: 15px 25px;
    transition: all .2s;
}

.pickCar__btns button:hover {
    background-color: #ff4d30;
    color: white;
}

.pickCar__img {
    /* display: flex;
    justify-content: center; */
    margin-top: 50px;
}

#car-img {
    /* position: relative;
    z-index: 1; */
    z-index: 2;
    position: absolute;
    right: 0; 
    width: 55%;
    max-width: 300rem;
    margin-top: 0.5rem;
}

.pickCar__show {
    margin-top: 50px;
    padding: 10px 25px;
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}

.pickCar__stats {
    background-color: #2d2d2d;
    padding: 90px;
    width: 100%;
    text-align: center;
    height: auto;
}

.pickCar__statsCell {
    text-align: left;
    top: 0;
}

.pickCar__statsCell h1 {
    color: white;
    font-size: 30px;
    font-weight: 800;
}


@media (max-width: 800px) {
    .pickCar__content {
        flex-wrap: wrap;
        padding: 0 50px;
    }
    .pickCar__header p {
        padding: 0 25px;
    }
}